
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Scripts/YaziFont.css" rel="stylesheet" />
<h1 style="text-align: center">
    Basit Stok ve Depo Takibi Programı
</h1>
<div class="body-content" style="background-color: rgb(191, 233, 224)" > <h2 style="text-align: center"><span>Cari Hesap Takibinizi </span>Kolaylıkla Yapın</h2></div>
<img src="~/images/satis.jpg" />

 